<h1 class="col bg-danger p-3">
  About -- App
</h1>

<p class="col bg-warning p-3">
    The Child Opportunity Index (COI) measures and maps the quality of resources and 
    conditions that matter for children to develop in a healthy way in the neighborhoods 
    where they live. Underlying all the Diversity Data Kid's work is a commitment to equity. 
    They believe all children deserve an equal opportunity to grow and learn.
</p class="col bg-warning p-3">

<p class="col bg-warning p-3">
    The Child Opportunity Index 2.0 (COI 2.0) is a composite index measured at the census 
    tract level that captures neighborhood resources and conditions that matter for children's 
    healthy development in a single metric. The index focuses on contemporary features of 
    neighborhoods that are affecting children. It is based on 29 indicators spanning 3 domains: 
    education, health and environment, and social and economic. COI 2.0 data is available for 
    virtually all U.S. census tracts for 2010 and 2015. 
  </p class="col bg-warning p-3">

  <p class="col bg-warning p-3">
    This app will allow you to look up the zip codes that you are interested in to check out 
    the scores and population data for each location of interest. You can save the list and print 
    it out as a JSON so that you can do further analysis on the specific locations that you are interested. 
    
    Soon there will be an app feature to see how the scores in a tract of a zip code aread differs 
    across a map, but this will be for a future part of development after cs103 and in the cs154 course.
  </p>


<h1 class="col bg-danger p-3">
  About -- Developer
</h1>

<h1 class="col bg-info p-3">
  <img src="/images/karen.jpeg" alt="Karen" width="30%">
  Karen Mai
  <a href="https://www.linkedin.com/in/maikaren/" class="btn btn-primary" role="button">Linkedin</a>
  <a href="https://github.com/KarenMai" class="btn btn-success" role="button">GitHub</a>
</h1>



<div class="col bg-warning p-3">
  <p> 
    My name is Karen Mai. I am a freshman at Brandeis University 
    studying Computer Science and Applied Mathematics. On campus, 
    I am involved with a lot of clubs and organizations from. This 
    project that I am working on for this app is for my Research 
    Assistant position over at the Heller School's Diversity Data Kids.
   </p>  
</div>




